<ons-page>
    <ons-toolbar>
        <div class="center">Details</div>
        <div class="left">
            <ons-back-button (click)="back_click()">Back</ons-back-button>
        </div>
        <div class="right">
            <svg viewBox="0 0 120 120" width="8" height="8" style="margin-right: 30%; margin-bottom:2px;">
                <circle cx="60" cy="60" r="50" [attr.fill]="params.statusConnectionColor" />
            </svg>
        </div>
    </ons-toolbar>
    <div class="content" style="margin-top: 20px; margin-left: 5px;">
        <table>
            <tr>
                <td>Command name: </td>
                <td>
                    <ons-input modifier="underbar" [(value)]="canCommand.name" float></ons-input>
                </td>
            </tr>
            <tr>
                <td>Can bus number: </td>
                <td>                    
                    <ons-select [(ngModel)]="canCommand.canBusNumber" [attr.modifier]="canCommand.canBusNumber">
                        <option *ngFor="let canBusNumber of canBusNumbers" [value]="canBusNumber.value">
                          {{ canBusNumber.label }}
                        </option>
                      </ons-select>                    
                </td>
            </tr>
            <tr>
                <td>Id request: </td>
                <td>
                    <ons-input modifier="underbar" [(value)]="canCommand.idRequest" float></ons-input>
                </td>
            </tr>
            <tr>
                <td>Id answer: </td>
                <td>
                    <ons-input modifier="underbar" [(value)]="canCommand.idAnswer" float></ons-input>
                </td>
            </tr>
            <tr>
                <td>Data: </td>
                <td>
                    <ons-input modifier="underbar" [(value)]="canCommand.data" float></ons-input>
                </td>
            </tr>            
        </table>

        <div style="margin-top: 10px;margin-left: 2px;">
            <label>Answer: </label>
            <label>{{ txtAnswer }}</label>
        </div>
        <div style="margin-top: 10px;margin-left: 2px;">
            <label>Info: </label>
            <label>{{ txtDecodeAnswer }}</label>
        </div>
        <div style="margin-top: 20px;margin-left: 2px;">
            <ons-button modifier="outline" class="btn-space" (click)="sendCommand()">Send</ons-button>
            <ons-button modifier="outline" class="btn-space" (click)="saveCommand()">Save</ons-button>
        </div>
    </div>
</ons-page>