<ons-page>
    <ons-toolbar>
        <div class="center">Commands</div>
    </ons-toolbar>
    <div class="content" style="margin-top: 20px;">

        <ons-list>
            <ons-list-item tappable *ngFor="let item of canCommands">
                <div class="center" style="margin-left: 15px" [attr.id]="item.id" (click)="cmd_click($event)">
                    {{item.name}}</div>
                <div class="right" style="margin-right: 15px">
                    <ons-icon style="color: grey" icon="edit" [attr.id]="item.id" (click)="edit_click($event)">
                    </ons-icon>
                    <ons-icon style="color: grey; margin-left: 18px;" icon="trash" [attr.id]="item.id"
                        (click)="delete_click($event)">
                    </ons-icon>
                </div>
            </ons-list-item>
        </ons-list>

        <ons-fab (click)="addCommand_click()" position="bottom center">
            <ons-icon icon="md-plus"></ons-icon>
        </ons-fab>
    </div>
</ons-page>